* {
  font-family: "Hubballi", cursive;
  /* font-family: "Noto Sans JP", sans-serif; */
}

a {
  text-decoration: none;
}

header {
  background-color: #44ffd2;
  box-shadow: 0px 0px 25px 0px #44ffd2;
  padding: 1em;
}

.header-container {
  max-width: 80%;
  margin: auto;
}

.navlogo {
  display: inline-block;
}

.navbar {
  float: right;
}

.navbar-item {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding-inline: 15px;
  color: #ffbfa0;
}

.navbar-item:hover {
  color: #ffbfa0;
}

body {
  background-color: #daf5ff;
  background-size: cover;
}

main {
}

/* ABOUT */
.about-container {
  padding: 5%;
  max-width: 80%;
  margin: auto;
}

.about-image {
  float: left;
  max-width: 50%;
}

.about-waves {
  position: absolute;
  border-radius: 5% 5% 10% 5%;
  box-shadow: 0px 0px 50px 0px #000000;
}

.about-profile {
  position: absolute;
  padding-top: 40px;
  padding-left: 120px;
}

.about-desc {
  float: right;
  max-width: 50%;
}

/* COLOR PALETTE */
.granite-grey {
  color: #616163;
}

.oxford-blue {
  color: #051b3d;
}

.sea-green-crayola {
  color: #44ffd2;
}

.electric-blue {
  color: #87f6ff;
}

.light-cyan {
  color: #daf5ff;
}

.peach-crayola {
  color: #ffbfa0;
}
